.vs/ExampleMod/project-colors.json
.vs/ExampleMod/v17/.suo
obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ExampleMod.csproj.AssemblyReference.cache
obj/ReleaseMod/.NETFramework,Version=v4.6.AssemblyAttributes.cs
obj/ReleaseMod/DesignTimeResolveAssemblyReferences.cache
obj/ReleaseMod/DesignTimeResolveAssemblyReferencesInput.cache
obj/ReleaseMod/ExampleMod.csproj.AssemblyReference.cache
obj/ReleaseMod/ExampleMod.csproj.CoreCompileInputs.cache
obj/ReleaseMod/ExampleMod.csproj.FileListAbsolute.txt
Properties/AssemblyInfo.cs
References/netstandard.1.0.0.nupkg
References/ProtoBuf.Net.1.0.0.nupkg
References/ProtoBuf.Net.Core.1.0.0.nupkg
References/Sandbox.Common.1.0.0.nupkg
References/Sandbox.Game.1.0.0.nupkg
References/Sandbox.Graphics.1.0.0.nupkg
References/SpaceEngineers.Game.1.0.0.nupkg
References/SpaceEngineers.ObjectBuilders.1.0.0.nupkg
References/System.Collections.Immutable.1.0.0.nupkg
References/VRage.1.0.0.nupkg
References/VRage.Render11.1.0.0/\[Content_Types\].xml
References/VRage.Render11.1.0.0/VRage.Render11.nuspec
References/VRage.Render11.1.0.0/_rels/.rels
References/VRage.Render11.1.0.0/package/services/metadata/core-properties/54aee44bbd9e8c8f4bdf18d4a26ea7c0.psmdcp
